---
layout: page
title: Flight Tracking Program
---

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Flight Tracking and Notification Program</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="block">
        <ul class="progressbar">
          <li>Concept</li>
          <li class="active">Programming</li>
          <li>Proposal</li>
          <li>Completed</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <p class="about">
            <h3>The Goal</h3>
            <p>The goal of this project is to help a local non-profit with flight tracking to increase efficiency. Flights for Life, LLC is a non-profit that currently partners with blood institutes in Arizona, Texas, Oklahoma, and Arkansas. Their mission is to fly important blood products between smaller rural communities with private pilot volunteers. Currently, pilots call a local number to let the organization know when they are departing and their estimated travel time. After this, the organization can't communicate with the pilot and are unaware of any delays or weather that could affect the flights. Starting in January 2020, almost all pilots in the U.S. are required to have ADS-B. ADS-B transmits live location, air speed, altitude and many other important pieces of data which could allow a program to monitor the location of these flights and notify the appropriate teams of any delays or possible early arrivals.</p>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <p class="about">
            <h3>The Plan</h3>
            <p>The plan is to use availabe APIs from companies such as FlightAware or FlightRadar24 to gather location data. The program will also be able to pull data from the scheduling software Flights for Life uses to limit API calls and costs by only looking up information when necessary. This data will be analyzed and sent most likely through SMS by using the cell carriers email to SMS option.</p>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="block">
          <h1>Updates</h1>
          {% for post in site.posts %}
            {% if post.tags contains 'adsb' %}
              <section id="blog-posts">
                  <div class="post-area">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
                    <p class="post-date">{{ post.date | date: "%B %-d, %Y" }}</p>
                  </div>
                  <div class="post-content">
                    {{ post.content }}
                  </div>
              </section>
              <hr/>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
