---
layout: page
title: Backyard Pergola
---

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Backyard Pergola</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="block">
        <ul class="progressbar">
          <li>Concept</li>
          <li class="active">Modeling</li>
          <li>Construction</li>
          <li>Completed</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <p class="about">
            <h3>The Goal</h3>
            <p>The goal of this project is to design a pergola for my parents' patio.</p>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <p class="about">
            <h3>The Plan</h3>
            <p>Due to the large size of the patio, the plan is to use large red cedar boards for the entire constuction. Red cedar is strong enough and will survive the Oklahoma environment. The purpose of the pergola is to provide shade for both the dogs when they are outside as well as any guests we have over during the summer. It would also be nice to have outdoor fans, electrical outlets, lights, and a few other bonus features.</p>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="block">
          <h1>Updates</h1>
          {% for post in site.posts %}
            {% if post.tags contains 'pergola' %}
            <section id="blog-posts">
                <div class="post-area">
                  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
                  <p class="post-date">{{ post.date | date: "%B %-d, %Y" }}</p>
                </div>
                <div class="post-content">
                  {{ post.content }}
                </div>
            </section>
              <hr/>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
