---
layout: page
title: Vehicle Projection
---

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Vehicle Projection</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <p class="about">
            <h3>The Goal</h3>
            <p>The goal of this project is to demonstrate the feasability of projection on the interior of a vehicle to change the vehicle's appearance for various purposes.</p>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <p class="about">
            <h3>The Plan</h3>
            <p>Projection is often used in theme parks to change or add to the environment in an attraction. However, the ride vehicles are relatively static and don't change based on their environemnt. Projection mapping could be used on the interior of a ride vehicle to change the vehicle's appearance as it goes through different environemnts. This could allow deeper for immersion in the story of the attraction.</p>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="block">
          <h1>Updates</h1>
          {% for post in site.posts %}
            {% if post.tags contains 'projection' %}
              <section id="blog-posts">
                  <div class="post-area">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
                    <p class="post-date">{{ post.date | date: "%B %-d, %Y" }}</p>
                  </div>
                  <div class="post-content">
                    {{ post.content }}
                  </div>
              </section>
              <hr/>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
