<div id="default-particles-js">
  <div class="default-header">
      <h2>
        <a href="https://garrettwoodbridge.com" class="link">Garrett Woodbridge</a>
      </h2>
      <div class="header-links">
        <a class="link" href="https://garrettwoodbridge.com/projects.html">Projects</a>
        <a class="link" href="https://garrettwoodbridge.com/models.html">Models</a>
        <a class="link" href="https://garrettwoodbridge.com/blog.html">Blog</a>
        <a class="link" href="https://garrettwoodbridge.com/contact.html">Contact Me</a>
      </div>
  </div>
</div>
