<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact Me</a></li>
          </ul>
        </div>
        <p>Copyright &copy; 2020 - Garrett Woodbridge</p>
        <p>Raspberry Pi Image Credit: <a target="_blank" href="https://www.raspberrypi.org">RaspberryPi.org</a>
      </div>
    </div>
  </div>
</footer>
